/* BODY */
* {
    font-family: 'Roboto Serif', serif;
}

body {
    width: 100%;
    height: 100%;
}


/* HEADER */
section {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(52, 52, 52);
    height: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
    float: left;
    padding: 20px;
    padding-top: 20px;
    font-size: 15px;
}

#logo {
    height: 40%;
    width: 40%;
    float: left;
    padding-bottom: 10px;
    padding-left: 50px;
}

#droite{
    float: right;
    padding-right: 50px;
}
/* MAIN */
/* SECTIONS */
#man {
    height : 50%;
    float: left;
}

#nuage {
    height: 50%;
    width: 50%;
}

#button1 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 15px;
    background-color: rgb(242, 129, 31);
    border: 1px solid white;
    border-radius: 3px;
}

.button2 {
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 3px;
    background-color: rgb(31, 94, 130);
}

#button3 {
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 3px;
    background-color: rgb(242, 129, 31);
}


#section1, #section3 {
    background-color: rgb(28, 147, 202);
    height: 350px;
}

#section4 {
    color: rgb(153, 155, 155)
    ;
}

#section5 {
    background-color: rgb(236, 234, 233);
}

.blanc {
    color: white;
}

.sponsor {
    height: 50%;
    width: 50%;
    margin: 0;
}

/* FOOTER */

footer {
    background-color: rgb(41, 39, 39);
}