/* BODY */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


#special {
    color : white
}

/* HEADER */
section {
    display: flex;
}

article {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(52, 52, 52);
    height: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
    float: left;
    padding: 20px;
    padding-top: 20px;
    font-size: 15px;
}

#logo {
    height: 40%;
    width: 40%;
    float: left;
    padding-bottom: 10px;
    padding-left: 50px;
}

#droite{
    float: right;
    padding-right: 50px;
}
/* MAIN */
/* SECTIONS */

h1{
    font-weight: 100;
    font-size: 25px;
}

#reste {
    justify-content: center;
    margin-top: 20px;
}


#nuage {
    height: 50%;
    width: 50%;
}

#button1 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 15px;
    background-color: rgb(242, 129, 31);
    border: 1px solid white;
    border-radius: 3px;
    display: block;
    margin-left: 90px;
}


.button2 {
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 3px;
    background-color: rgb(31, 94, 130);
}

#button3 {
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 3px;
    background-color: rgb(242, 129, 31);
}


#section1, #section3 {
    background-color: rgb(28, 147, 202);
    height: 350px;
}


#section4 {
    color: rgb(153, 155, 155)
    ;
}

#section5 {
    height: 250px;
    background-color: rgb(236, 234, 233);
}

#section6 {
    height: 250px;
}

.blanc {
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

div {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#article2 {
    justify-content: center;
}

#article4 {
    justify-content: center;
}

.article6 {
    justify-content: center;
    padding-top: 60px;
}

.sponsor {
    height: 50px;
    width: 40%;
    padding: 30px;
}

#sponsor2 {
    height: 50px;
    width :40px;
}

/* FOOTER */

footer {
    background-color: rgb(41, 39, 39);
}